### Build Tools ###
target/
build/
.gradle/
bin/
out/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.kotlin/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS & Logs ###
.DS_Store
Thumbs.db
*.log